* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 10px;
}

header, footer {
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background-color: darkgreen;
}

footer {
    padding: 10px;
}

main {
    padding: 20px 5px;
}

h2 {
    text-align: center;
}

h3 {
    border-bottom: 2px solid darkgreen;
}

table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

tr {
    margin: 0;
    padding: 0;
}

tr > td:first-child {
    width: 35%;
}

td {
    margin: 0;
    padding: 5px;
    border: 2px solid darkgreen;
}