USE [PrimoDb]
GO
/****** Oggetto: Table [dbo].[Albero]    Data dello script 31/07/2026 12:25:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albero](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](50) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Albero] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Albero] ON 

INSERT [dbo].[Albero] ([Id], [Label], [ParentId]) VALUES (1, N'A', NULL)
INSERT [dbo].[Albero] ([Id], [Label], [ParentId]) VALUES (2, N'B', 1)
INSERT [dbo].[Albero] ([Id], [Label], [ParentId]) VALUES (3, N'C', 1)
SET IDENTITY_INSERT [dbo].[Albero] OFF
GO
